<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Wipro Limited</title>
</head>
<body>
<form>
1. Please Fill below details:<br><br>
First Name :
<input type = "text" name = "firstname">
Last Name :
<input type = "text" name = "lastname">
<br>
<br>

2. Please select the Gender :<br>
<input type = "radio" name = "gender" value = "Male"> Male <br>
<input type = "radio" name = "gender" value = "Female"> Female <br>
<input type = "radio" name = "gender" value = "Other"> Other
<br>
<br>
<br>
<input type = "submit" name = "submit"></a>
 </form>
 

</body>
</html>